<h1 id="wiki-lemmy-france">Wiki Lemmy France</h1>
<p>Cette page liste des ressources pour les utilisateurs de Lemmy, un agrégateur de liens libre. </p>
<h2 id="pour-les-nouveaux-arrivants">Pour les nouveaux arrivants</h2>
<ul>
<li>Un lien vers la <a href="FAQ.md">FAQ</a></li>
<li>Un lien vers le <a href="README.md">ReadMe</a></li>
</ul>
<h2 id="les-applications-mobiles">Les applications mobiles</h2>
<ul>
<li>La liste complète: <a href="https://lemmyapps.netlify.app/">https://lemmyapps.netlify.app/</a></li>
</ul>
<p>Utilisable peu importe la plateforme: Voyager</p>
<ul>
<li><a href="https://vger.app/">https://vger.app/</a></li>
<li><a href="https://m.lemmy.world/">https://m.lemmy.world/</a> pour lemmy.world</li>
</ul>
<p>Les plus connues pour Android</p>
<ul>
<li>Liftoff</li>
<li>Jerboa</li>
<li>Thunder</li>
</ul>
<p>Les plus connues pour iOS</p>
<ul>
<li>Memmy</li>
<li>Mlem</li>
</ul>
<h2 id="les-interfaces-alternatives-pour-ordinateur-de-bureau">Les interfaces alternatives pour ordinateur de bureau</h2>
<ul>
<li><a href="https://old.lemmy.world/">https://old.lemmy.world/</a>, qui reprend l&#39;interface de old.reddit</li>
<li><a href="https://photon.xylight.dev/">https://photon.xylight.dev/</a>, une interface moderne</li>
<li><a href="https://alexandrite.app/">https://alexandrite.app/</a>, interface moderne</li>
</ul>